* { 
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Tahoma, Geneva, Verdana, sans-serif;
}

body {
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: black;
    
/*	background: url('img.jpg') no-repeat; 
	background-size: cover;
	background-position: center;
*/
}

header{
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

header h5 a{
    color: #fff;
}

nav{
    display: flex;
    width: 100%;
    height: 11vh;
    background: black;
    padding: 5px;
    border: 2px solid rgba(255, 255, 255, .2);
}

nav .firstpart{
    display: flex;
    width: 30%;
}

nav .secondpart{
    display: flex;
    width: 50%;
}

nav .thirdpart{
    display: flex;
    width: 20%;
}

nav .firstpart img{
    height: 40px;
    width: 200px;
    margin: 5px;
    align-self: center;
}

nav .secondpart ul{
    align-items: right;
    list-style-type: none;
    display: flex;
    align-self: center;
}

nav .secondpart ul li a{
    background: black;
    text-decoration: none;
    padding: 11px;
    color: white;
}

nav .secondpart ul li a:hover{
    text-decoration: underline;
}

nav .thirdpart ul{
    align-items: right;
    list-style-type: none;
    display: flex;
    align-self: center;
    position: absolute;
    right: 20%;
}

nav .thirdpart ul li a{
    background: black;
    text-decoration: none;
    padding: 11px;
    color: white;
}

nav .thirdpart ul li a:hover{
    text-decoration: underline;
}

main{
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    color: black;
}

main .item{
    width: 80%;
    height: 80%;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    background-color: dimgray;
    padding: 40px 20px;
    text-decoration: none;
}

main .item a{
    color: #fff;
    text-decoration: none;
}

main .item a:hover{
    text-decoration: underline;
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.footer{
    color: #fff;
}

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 88px;
}

.line{
    width: 20px;
    background-color: #fff;
    height: 4px;
    margin: 5px 3px;
}

@media screen and (max-width: 600px){

    nav .firstpart{
        display: flex;
        width: 33%;
    }

    nav .firstpart img{
        width: 100%;
        height: 80%;
        margin-left: 0.5px;
    }

    .secondpart{
        position: absolute;
        top: 60px;
        left: 20%;
        height: 447px;
        flex-direction: column;
        transition: all 5.7s ease-out;
    }

    .secondpart ul li{
        display: flex;
        width: 100%;
        height: 8vh;
        background: black;
        padding: 2px;
        border: 2px solid rgba(255, 255, 255, .2);
        border-radius: 11px;
    }
    
    nav .thirdpart ul{
        right: 11%;
    }

    main{
        grid-template-columns: 1fr 1fr;
    }

    .nav-list{
        flex-direction: column;
    }

    .burger{
        display: block;
    }

    .h-nav-resp{
        height: 72px;
    }

    .v-class-resp{
        opacity: 0;
    }
}

@media screen and (max-width: 900px) and (min-width: 600px){
           
    .secondpart{
        position: absolute;
        top: 60px;
        left: 20%;
        height: 447px;
        flex-direction: column;
        transition: all 5.7s ease-out;
    }

    .secondpart ul li{
        display: flex;
        width: 100%;
        height: 8vh;
        background: black;
        padding: 2px;
        border: 2px solid rgba(255, 255, 255, .2);
        border-radius: 11px;
    }
    
    main{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .nav-list{
        flex-direction: column;
    }

    .burger{
        display: block;
    }

    .h-nav-resp{
        height: 72px;
    }

    .v-class-resp{
        opacity: 0;
    }
}